<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/App_Component/Controller/Shared/_Layout/Style/Site.less" rel="stylesheet" />
    @Html.Partial("_Script")

    <script src="~/App_Component/Controller/Main/app.js"></script>
    <script src="~/App_Component/Controller/Shared/_Layout/Script/ng-Config.js"></script>
</head>
<body ng-app="apps">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Event</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                @Minecraft_Server.App_LocalResources._Layout.nav_Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Login</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Regis</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Logout</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Profile</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Forrum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Report</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                @Minecraft_Server.App_LocalResources._Layout.nav_Player
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_PlyList</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_FrdList</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_PlySosmed</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Guild</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Docs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto" style="margin-top:0;">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fad fa-bell"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10">
                                            <strong>System</strong>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-muted">Now</p>
                                        </div>
                                          
                                    </div>
                                    <div class="row">
                                        <span class="badge badge-soft-danger float-end">New</span>
                                        <div class="col-20">
                                            <p>Messages</p>
                                        </div>
                                    </div>
                                </div>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_ViewNoti</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fad fa-envelope "></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fad fa-cog" ></i>
                            </a>
                        </li>
                        <form class="d-flex" ng-controller="QuickSearch" ng-submit="quickSearches()">
                            <input class="form-control me-2" type="search" placeholder="@Minecraft_Server.App_LocalResources._Layout.qck_plc" aria-label="Search" id="QuickSearch">
                            <button class="btn btn-outline-primary-Superhero" type="submit">@Minecraft_Server.App_LocalResources._Layout.qck_Btn</button>
                        </form>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <!--MODALS-->

</body>
</html>