<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/App_Component/Controller/Shared/_Layout/Style/Site.less" rel="stylesheet" />
    @Html.Partial("_Script")

    <script src="~/App_Component/Controller/Main/app.js"></script>
    <script src="~/App_Component/Controller/Shared/_Layout/Script/ng-Config.js"></script>
</head>
<body ng-app="apps">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Event</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                @Minecraft_Server.App_LocalResources._Layout.nav_Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Login</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Regis</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Logout</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Profile</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Forrum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Report</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                @Minecraft_Server.App_LocalResources._Layout.nav_Player
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_PlyList</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_FrdList</a></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_PlySosmed</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_Guild</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">@Minecraft_Server.App_LocalResources._Layout.nav_Docs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto" style="margin-top:0;">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fad fa-bell"></i>
                                <span class="badge rounded-pill bg-danger">70</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10">
                                            <strong>System</strong>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-muted">Now</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <span class="badge badge-soft-danger float-end">New</span>
                                        <div class="col-20">
                                            <p>Messages</p>
                                        </div>
                                    </div>
                                </div>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">@Minecraft_Server.App_LocalResources._Layout.drop_ViewNoti</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="new bootstrap.Modal(document.getElementById('mdlMail'),{keyboard:!1}).show();" href="#">
                                <i class="fad fa-envelope "></i>
                                <span class="badge rounded-pill bg-danger">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fad fa-cog"></i>
                            </a>
                        </li>
                        <form class="d-flex" ng-controller="QuickSearch" ng-submit="quickSearches()">
                            <input class="form-control form-colored-border-notice me-2" type="search" placeholder="@Minecraft_Server.App_LocalResources._Layout.qck_plc" aria-label="Search" id="QuickSearch" style="border: 1px solid #7952b3 !important" autocomplete="off">
                            <button class="btn btn-outline-primary-Superhero" type="submit">@Minecraft_Server.App_LocalResources._Layout.qck_Btn</button>
                        </form>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <div class="modal fade" id="mdlMail" tabindex="-1" aria-labelledby="mdlMail" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Minecraft_Server.App_LocalResources._Layout.mdlMail_Title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-start row">
                        <div class="nav flex-column nav-pills me-3 col-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-System-tab" data-toggle="pill" href="#v-pills-System" role="tab" aria-controls="v-pills-System" aria-selected="true">@Minecraft_Server.App_LocalResources._Layout.mdlMail_MenuSys</a>
                            
                        </div>
                        <div class="tab-content col-10" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-System" role="tabpanel" aria-labelledby="v-pills-System-tab">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                        Cras justo odio
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        </div>
</body>
</html>